@media only screen and (min-width: 0px) {
    /* BODY STYLES */
    body {
        height: 90svh;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0 5%;
        font-family: Arial;
        background: rgb(67, 166, 67);
    }
    
    /* - GRID - */
    .grid-layer {
        width: 100%;
        height: auto;
        max-width: 500px;
        display: grid;
        justify-items: center;
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translate(-50%, 0);
    }
    #islandGrid {
        z-index: 0;
    }
    #playerGrid {
        z-index: 1;
    }
    .tile {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    
    /* - CONTROLS - */
    #controlsBox {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .button-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 150px;
        height: 150px;
    }
    #up, #button1 {
        grid-column: 2 / 3;
    }
    #left, #button3 {
        grid-column: 1 / 2;
    }
    #right, #button2 {
        grid-column: 3 / 4;
        grid-row: 2;
    }
    #down, #button4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .button {
        height: 50px;
        width: 50px;
        background-color: rgb(25, 25, 25);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 2px solid gray;
        transition: 150ms;
        box-sizing: border-box;
    }
    .button:hover {
        background-color: rgb(50, 50, 50);
        cursor: pointer;
    }
    .button:active {
        background-color: rgb(75, 75, 75);
    }
    .icon {
        width: 40px;
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    #movementBox {
        position: relative;
        top: 5vh;
    }
    #toolBox {
        position: relative;
        top: -5vh;
    }
}

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }
    .grid-layer {
        left: 50%;
        top: 50%;
        transform: translate(-25%, -50%);
    }
    #controlsBox {
        height: 80svh;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
}