@font-face {
    font-family: Pixel;
    src: url(fonts/PixeloidSans-mLxMm.ttf);
}

@media only screen and (min-width: 0px) {
    /* - TOP BAR - */
    #topBar {
        display: flex;
        width: 90%;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
    }

    /* HINT BOX */
    #hintBox {
        background: rgb(25, 25, 25, 0.8);
        color: white;
        z-index: 5;
        padding: 20px;
        font-size: larger;
    }
    #closeHint {
        font-size: 24px;
        cursor: pointer;
    }
    .hidden {
        display: none;
    }

    /* - CRAFTING MENU -*/
    #craftingMenu {
        background-color: rgb(25, 25, 25, 0.8);
        height: 50svh;
        width: 80svw;
        z-index: 5;
        text-align: center;
        color: white;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr;
    }
    #craftingHeader {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-around;
        align-items: center;
        grid-column: 1 / 3;
        border: 1px solid white;
    }
    #closeCraft {
        cursor: pointer;
    }
    .crafting-column {
        border: 1px solid white;
        padding: 2%;
    }
    #inventoryColumn {
        grid-column: 1 / 2;
    }
    #outputColumn {
        grid-column: 2 / 3;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }

    /* BODY STYLES */
    body {
        height: 98svh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        font-family: Pixel, Arial, Helvetica, sans-serif;
        background: rgb(67, 166, 67);
    }
    
    /* - GRID - */
    .grid-layer {
        width: 100%;
        height: auto;
        max-width: 400px;
        display: grid;
        justify-items: center;
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translate(-50%, 0);
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    #islandGrid {
        z-index: 0;
    }
    #playerGrid {
        z-index: 1;
    }
    .tile {
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    /* - CONTROLS - */
    #controlsBox {
        display: flex;
        flex-flow: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;;
    }
    #gameLog {
        grid-column: 1 / 3;
        height: 70px;
        width: 90%;
        background-color: rgb(25, 25, 25);
        margin-bottom: 20px;
        color: white;
        padding: 0 10px;
    }
    #buttonsBox {
        display: flex;
        justify-content: space-evenly;
        align-items: first baseline;
        width: 100%;
    }
    .button {
        height: 50px;
        width: 50px;
        background-color: rgb(25, 25, 25);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 2px solid gray;
        transition: 150ms;
        box-sizing: border-box;
        color: white;
        font-size: 25px;
    }
    .button:hover {
        background-color: rgb(60, 60, 60);
        cursor: pointer;
    }
    .button:active {
        background-color: rgb(80, 80, 80);
    }
    .icon {
        width: 30px;
        height: auto;
    }
    .button-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #upButton, #xButton {
        grid-column: 2;
        grid-row: 1;
    }
    #downButton, #aButton {
        grid-column: 2;
        grid-row: 3;
    }
    #leftButton, #yButton {
        grid-column: 1;
        grid-row: 2;
    }
    #rightButton, #bButton {
        grid-column: 3;
        grid-row: 2;
    }
    #aButton {
        color: rgb(65, 255, 65);
    }
    #bButton {
        color: rgb(255, 67, 67);
    }
    #xButton {
        color: rgb(82, 82, 255);
    }
    #yButton {
        color: rgb(255, 255, 87);
    }
}

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }
    .grid-layer {
        left: 50%;
        top: 50%;
        transform: translate(-25%, -50%);
    }
    #controlsBox {
        height: 80svh;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
}